<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Search Dictation' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="padding: 16px;">
    <ion-card class="input-form">
      <ion-card-content>
        <form [formGroup]="inputForm" novalidate>
          <ion-searchbar (ionInput)="filterHistory($event)" formControlName="keyword" placeholder="{{'ID or part of title / description' | translate}}" (ionBlur)="stopShowHistory()"></ion-searchbar>
          <ion-list class="autocomplete" *ngIf="filteredHistory && showHistory">
            <ion-item *ngFor="let h of filteredHistory" (touchstart)="setKeyword(h)" (mousedown)="setKeyword(h)">{{h}} <fa-icon item-end [icon]="['fas', 'history']"></fa-icon></ion-item>
          </ion-list>
          <div *ngIf="keyword.invalid && (keyword.dirty || keyword.touched)" class="error-text">
            <div *ngIf="keyword.errors.minlength">{{'CharactersTooShort'|translate:{length: '3'} }}</div>
            <div *ngIf="keyword.errors.maxlength">{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item *ngIf="moreOptions">(click)
            <ion-label>{{'Created By'|translate}}</ion-label>
            <ion-input type="text" formControlName="creator"></ion-input>
          </ion-item>
          <div *ngIf="creator.invalid && (creator.dirty || creator.touched)" class="error-text">
            <div *ngIf="creator.errors.minlength">{{'CharactersTooShort'|translate:{length: '3'} }}</div>
            <div *ngIf="creator.errors.maxlength">{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item *ngIf="moreOptions">
            <ion-label style="margin: inherit;">{{'Suitable'|translate}} ({{'Age'|translate}})</ion-label>
            <ion-select style="padding-right: 30px;" formControlName="suitableStudent" interface="popover">
              <ion-option *ngFor="let state of suitableStudentOptions" [value]="state">{{'SuitableStudent.' + state|translate}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="moreOptions">
            <ion-label style="margin: inherit;">{{'Date'|translate}}</ion-label>
            <ion-select style="padding-right: 30px;" formControlName="minDate" interface="popover">
              <ion-option *ngFor="let option of dateOptions" [value]="option">{{option.option|translate}}</ion-option>
            </ion-select>
          </ion-item>

          <button ion-button float-left outline (click)="moreOptions = true" style="margin: 16px;" [disabled]="moreOptions">
            &nbsp;{{'More Options'|translate}}
          </button>

          <button ion-button float-right item-end (click)="search()" style="margin: 16px;" [disabled]="inputForm.invalid">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>&nbsp;{{'Search'|translate}}
          </button>
        </form>
      </ion-card-content>
    </ion-card>

    <dictation-list [dictations]="results" title="Search Result"></dictation-list>

  </div>
  <footer></footer>
</ion-content>
