<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'My Account' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title><fa-icon icon="address-card"></fa-icon>&nbsp;{{'Personal Information'|translate}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form class="input-form" [formGroup]="inputForm" novalidate>
          <ion-item>
            <ion-input id="userIdInput" label="{{'User Id'|translate}}" type="text" value="{{member?.userId}}" disabled="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" label="{{'Email'|translate}}" value="{{member?.emailAddress}}" disabled="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" label="{{'First Name'|translate}}" formControlName="firstName"></ion-input>
          </ion-item>
          @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
            <div class="error-text">
              @if (firstName.errors.maxlength) {
                <div>{{'First Name' | translate}}{{'CharactersTooLong'|translate:{length: '50'} }}</div>
              }
            </div>
          }
          <ion-item>
            <ion-input type="text" label="{{'Last Name'|translate}}" formControlName="lastName"></ion-input>
          </ion-item>
          @if (lastName.invalid && (lastName.dirty || lastName.touched)) {
            <div class="error-text">
              @if (lastName.errors.maxlength) {
                <div>{{'Last Name'|translate}}{{'CharactersTooLong'|translate:{length: '50'} }}</div>
              }
            </div>
          }
          <ion-item class="ion-text-left">
            <ion-label>{{'Date of birth'|translate}}</ion-label>
            <ion-datetime formControlName="birthday" presentation="date" [preferWheel]="false"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-input type="text" label="{{'Address'|translate}}" formControlName="address"></ion-input>
          </ion-item>
          @if (address.invalid && (address.dirty || address.touched)) {
            <div class="error-text">
              @if (address.errors.maxlength) {
                <div>{{'Address'|translate}}{{'CharactersTooLong'|translate:{length: '200'} }}</div>
              }
            </div>
          }
          <ion-item>
            <ion-input type="text" label="{{'Phone'|translate}}" formControlName="phoneNumber"></ion-input>
          </ion-item>
          @if (phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)) {
            <div class="error-text">
              @if (phoneNumber.errors.maxlength) {
                <div>{{'Phone'|translate}}{{'CharactersTooLong'|translate:{length: '20'} }}</div>
              }
              @if (phoneNumber.errors.pattern) {
                <div>{{'Allow numbers input only'|translate}}</div>
              }
            </div>
          }
          <ion-item>
            <ion-input type="text" label="{{'School'|translate}}" formControlName="school"></ion-input>
          </ion-item>
          @if (school.invalid && (school.dirty || school.touched)) {
            <div class="error-text">
              @if (school.errors.maxlength) {
                <div>{{'School'|translate}}{{'CharactersTooLong'|translate:{length: '100'} }}</div>
              }
            </div>
          }

          <ion-button  (click)="save()" style="margin: 16px;" [disabled]="inputForm.invalid">
            <fa-icon [icon]="['fas', 'save']"></fa-icon>&nbsp;{{'Save'|translate}}
          </ion-button>

          <ion-button (click)="presentDeleteAccountAlert()" class="ion-float-right"
            style="margin: 16px;" fill="outline" color="danger">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>&nbsp;{{'Delete Account'|translate}}
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>

  </div>

  <app-footer></app-footer>
</ion-content>
