<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'My Account' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    <ion-card class="card">
      <ion-card-header>
        <fa-icon icon="address-card"></fa-icon>&nbsp;{{'Personal Information'|translate}}
      </ion-card-header>
      <ion-card-content>
        <form class="input-form" [formGroup]="inputForm" novalidate>
          <ion-item>
            <ion-label>{{'User Id'|translate}}</ion-label>
            <ion-input id="userIdInput" type="text" value="{{member?.userId}}" disabled="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{'Email'|translate}}</ion-label>
            <ion-input type="text" value="{{member?.emailAddress}}" disabled="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{'First Name'|translate}}</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error-text">
            <div *ngIf="firstName.errors.maxlength">{{'First Name' | translate}}{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item>
            <ion-label>{{'Last Name'|translate}}</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-text">
            <div *ngIf="lastName.errors.maxlength">{{'Last Name'|translate}}{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item class="ion-text-left">
            <ion-label>{{'Date of birth'|translate}}</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" max="2015" formControlName="birthday"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>{{'Address'|translate}}</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="error-text">
            <div *ngIf="address.errors.maxlength">{{'Address'|translate}}{{'CharactersTooLong'|translate:{length: '200'} }}</div>
          </div>
          <ion-item>
            <ion-label>{{'Phone'|translate}}</ion-label>
            <ion-input type="text" formControlName="phoneNumber"></ion-input>
          </ion-item>
          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error-text">
            <div *ngIf="phoneNumber.errors.maxlength">{{'Phone'|translate}}{{'CharactersTooLong'|translate:{length: '20'} }}</div>
            <div *ngIf="phoneNumber.errors.pattern">{{'Allow numbers input only'|translate}}</div>
          </div>
          <ion-item>
            <ion-label stacked>{{'School'|translate}}</ion-label>
            <ion-input type="text" formControlName="school"></ion-input>
          </ion-item>
          <div *ngIf="school.invalid && (school.dirty || school.touched)" class="error-text">
            <div *ngIf="school.errors.maxlength">{{'School'|translate}}{{'CharactersTooLong'|translate:{length: '100'} }}</div>
          </div>

          <ion-button class="ion-float-right" (click)="save()" style="margin: 16px;" [disabled]="inputForm.invalid">
            <fa-icon [icon]="['fas', 'save']"></fa-icon>&nbsp;{{'Save'|translate}}
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>

  </div>

  <app-footer></app-footer>
</ion-content>
