<ion-card class="card" *ngIf="histories" style="margin-top: 12px;">
  <ion-card-header>
    <i class="fas fa-history"></i> History
    <score float-right [mark]="mark" [total]="histories.length"></score>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let history of histories; let i = index" [@flyIn]="history.state">
        <ion-row>
          <ion-col col-auto><ion-badge item-start style="background-color: #4CAF50; margin: 0px;">{{ histories.length - i }}</ion-badge></ion-col>
          <ion-col>{{ history.question.word }}</ion-col>
          <ion-col [class.green]="history.correct" [class.red]="!history.correct">{{ history.answer }}</ion-col>
          <ion-col col-auto><i *ngIf="history.correct" class="fas fa-check green"></i><i *ngIf="!history.correct" class="fas fa-times red"></i></ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
