<ion-card class="card" *ngIf="dictation" style="margin-top: 8px;">
  <ion-card-header>
    <i class="fas fa-edit"></i> {{ 'Dictation' | translate }} - {{ dictation.title }}
  </ion-card-header>
  <ion-card-content style="font-size: 1.6rem">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6>
          <table width="95%">
            <tr>
              <td width="125" class="table-heading">{{ 'Title' | translate }}</td>
              <td><strong>{{dictation.title}}</strong></td>
            </tr>
            <tr>
              <td class="table-heading">{{ 'Description' | translate }}</td>
              <td>{{ dictation.description }}</td>
            </tr>
            <tr>
              <td class="table-heading">{{ 'Suitable' | translate }}</td>
              <td>{{ 'SuitableStudent.' + dictation.suitableStudent | translate }}</td>
            </tr>
            <tr>
              <td class="table-heading">{{ 'Show Image' | translate }}</td>
              <td>
                <i class="fas fa-check" *ngIf="dictation.showImage"></i>
                <i class="fas fa-times" *ngIf="!dictation.showImage"></i>
              </td>
            </tr>
            <tr [@recommend]="recommendState"
                (@recommend.done)="recommendAnimationDone($event)">
              <td class="table-heading">{{ 'Recommend' | translate }}</td>
              <td><i class="far fa-thumbs-up"></i> {{ dictation.totalRecommended }}</td>
            </tr>
            <tr>
              <td class="table-heading">{{ 'Last Updated' | translate }}</td>
              <td>{{ dictation.lastModifyDate | date: 'dd/MM/yyyy' }}</td>
            </tr>
            <tr>
              <td class="table-heading">{{ 'Finished' | translate }}</td>
              <td>{{dictation.totalAttempt}}</td>
            </tr>
          </table>
          <!--<span id="spinner" class="w3-hide"><i class="fa fa-spinner w3-spin" style="font-size:36px"></i></span>-->
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 *ngIf="showContent && !dictationService.isSentenceDictation(dictation)">
          <div style="padding-bottom: 4px;" class="table-heading">{{'Vocabulary'|translate}} ({{dictation.vocabs.length}}):</div>
          <span *ngFor="let vocab of dictation.vocabs"><ion-badge style="background-color: #4CAF50; margin-right: 4px;">{{ vocab.word }}</ion-badge></span>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-6 *ngIf="showContent && dictationService.isSentenceDictation(dictation)">
          <div style="padding-bottom: 4px;" class="table-heading">{{'Article'|translate}}:</div>
          <p>{{dictation.article}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div padding *ngIf="start || retry">
      <button *ngIf="edit" ion-button (click)="navService.editDictation(dictation)"><i class="fas fa-edit"></i>&nbsp;{{'Edit'|translate}}</button>
      <button *ngIf="start" ion-button (click)="navService.startDictation(dictation)"><i class="fas fa-play"></i>&nbsp;{{'Start'|translate}}</button>
      <button *ngIf="retry" ion-button (click)="navService.startDictation(dictation)"><i class="fas fa-redo"></i>&nbsp;{{'Retry'|translate}}</button>
    </div>
  </ion-card-content>
</ion-card>
