
<ion-card class="card" style="margin-top: 12px;">
  <ion-card-header>
    <ion-card-title>
      <fa-icon [icon]="['fas', 'trophy']"></fa-icon>
      {{ 'My Scores' | translate }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    @if (loading) {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
    <ion-list>
      @if (allTimesScore) {
        <ion-item>
          <ion-label>{{ 'Full' | translate }}</ion-label>
          <span class="ion-float-right"><fa-icon [icon]="['fas', 'star']" style="color: gold"></fa-icon> {{allTimesScore.score}}</span>
        </ion-item>
      }
      @for (score of scores; track score; let i = $index) {
        <ion-item>
          <ion-label>{{ score.yearMonthAsDate | date: 'yyyy/MM' }}</ion-label>
          <span class="ion-float-right"><fa-icon [icon]="['fas', 'star']" style="color: gold"></fa-icon> {{score.score}}</span>
        </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
