<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'Vocabulary Practice' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    @if (inputForm) {
      <form class="input-form" [formGroup]="inputForm" novalidate>
        <ion-row>
          <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
            <app-section-card [headerTitle]="'Options'|translate" icon="sliders-h">
              <ion-item>
                <ion-select formControlName="difficulty" interface="popover">
                  <div slot="label"><fa-icon icon="sliders-h"></fa-icon> {{'Select Difficulty'|translate}}</div>
                  @for (d of vocabDifficulties; track d) {
                    <ion-select-option [value]="d">{{'VocabDifficulty.' + d | translate}}</ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select formControlName="voiceMode" interface="popover">
                  <div slot="label"><fa-icon [icon]="['fas', 'volume-high']"></fa-icon> {{'Voice Mode'|translate}}</div>
                  <ion-select-option value="online">{{'Online Voice'|translate}}</ion-select-option>
                  <ion-select-option value="local">{{'Local Voice'|translate}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-note class="ion-padding-start voice-mode-note" color="medium">
                @if (voiceMode.value === 'online') {
                  {{'VoiceMode.OnlineDescription'|translate}}
                } @else {
                  {{'VoiceMode.LocalDescription'|translate}}
                }
              </ion-note>

              <ion-radio-group formControlName="type">
                <ion-row class="radio">
                  <ion-col>
                    <ion-item>
                      <ion-radio value="Spell">
                        <span [class.deselected]="type.value === practiceType.Puzzle">{{'Spelling'|translate}}</span>
                      </ion-radio>
                    </ion-item>
                    <div class="type-example" [class.deselected]="type.value !== practiceType.Spell">
                      <fa-icon icon="apple-alt"></fa-icon>&nbsp;<span class="spell">apple</span>
                    </div>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-radio value="Puzzle">
                        <span [class.deselected]="type.value === practiceType.Spell">{{'Puzzle'|translate}}</span>
                      </ion-radio>
                    </ion-item>
                    <div class="type-example puzzle" [class.deselected]="type.value !== practiceType.Puzzle">
                      <fa-icon icon="apple-alt"></fa-icon>
                      <span class="puzzle">p</span><span>e</span><span>l</span><span>a</span>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>

              <div class="options-divider"></div>

              <div class="action-row">
                @if (authService.isAuthenticated$ | async) {
                  <ion-button class="action-button" fill="outline" (click)="navigationService.openMemberHome('vocabulary')">
                    <fa-icon icon="folder-open"></fa-icon>&nbsp;{{'My Vocabulary'|translate}}
                  </ion-button>
                }
                <ion-button class="action-button ion-float-right" (click)="start()">
                  <fa-icon icon="play"></fa-icon>&nbsp;{{'Start'|translate}}
                </ion-button>
              </div>
            </app-section-card>
          </ion-col>
          <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
            <app-section-card headerTitle="Info" icon="info-circle">
              <div class="info-content">
              <div class="info-label"><fa-icon icon="pen"></fa-icon> {{'VocabularyPracticeDescription.ThisExercise'|translate}}</div>
              <ul>
                <li>5000+ {{'VocabularyPracticeDescription.MostFrequentlyUsedEnglishWords'|translate}}</li>
                <li>{{'VocabularyPracticeDescription.WithPronunciationAndImage'|translate}}</li>
              </ul>
              <div class="info-label"><fa-icon icon="user-lock"></fa-icon> {{'VocabularyPracticeDescription.AfterLogin'|translate}}</div>
              <ul>
                <li>{{'VocabularyPracticeDescription.RevisitMisspelledWords'|translate}}</li>
                <li>{{'VocabularyPracticeDescription.KnowWhatYouLearn'|translate}}</li>
                <li>{{'VocabularyPracticeDescription.EarnStars'|translate}}</li>
              </ul>
              </div>
            </app-section-card>
          </ion-col>
        </ion-row>
      </form>
    }
  </div>
  <app-footer></app-footer>
</ion-content>
