<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      @if (!historyStored) {
        <ion-menu-button></ion-menu-button>
      }
      @if (historyStored) {
        <ion-button fill="clear" (click)="navigationService.goBack()"><fa-icon icon="angle-left" size="2x"></fa-icon></ion-button>
      }
    </ion-buttons>
    <ion-title>{{'Finished Practice' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    @if (dictation) {
      <app-dictation-card
        #dictationCard
        [dictation]="dictation"
        [showContent]="false"
        [start]="true"
        [showStartButton]="false">

        <div dictationInfoActions class="complete-info-actions">
          @if (dictation && dictation.id > 0 && !historyStored) {
            <ion-button color="secondary" class="save-button" (click)="recommend()" [disabled]="recommended">
              <fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon>&nbsp;{{ recommendBtnText() }}
            </ion-button>
          }
          @if (dictation && dictation.id <= 0) {
            <ion-button color="secondary" class="save-button" (click)="navigationService.editDictation(dictation)">
              <fa-icon [icon]="['fas', 'save']"></fa-icon>&nbsp;{{'Save'|translate}}
            </ion-button>
          }
        </div>

        <div dictationOptionActions class="complete-retry-actions">
          <div class="start-button-row">
            <ion-button (click)="retryWithOptions()"><fa-icon [icon]="['fas', 'redo']"></fa-icon>&nbsp;{{'Retry'|translate}}</ion-button>
          </div>
        </div>
      </app-dictation-card>
    }

    <app-section-card [headerTitle]="'Records'|translate" icon="history">
      <div class="result-score">
        <fa-icon [icon]="['fas', 'check']"></fa-icon> {{totalCorrect}} ({{totalCorrect / (totalCorrect + totalWrong) * 100 | number:'1.0-0'}}%)
        / <span class="red"><fa-icon [icon]="['fas', 'times']"></fa-icon> {{totalWrong}} ({{totalWrong / (totalCorrect + totalWrong) * 100 | number:'1.0-0'}}%)</span>
      </div>
      <sentence-histories
        [histories]="histories"
        [speakPunctuation]="!!dictation?.options?.speakPunctuation">
      </sentence-histories>
    </app-section-card>

  </div>

  <app-footer></app-footer>
</ion-content>


