<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'Search Dictation' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    <ion-card class="card">
      <ion-card-content>
        <form class="input-form" [formGroup]="inputForm" novalidate>
          <ion-searchbar (ionInput)="filterHistory($event)" formControlName="keyword" placeholder="{{'ID or part of title / description' | translate}}" (ionBlur)="stopShowHistory()" (keydown.enter)="search()"></ion-searchbar>
          <ion-list class="autocomplete" *ngIf="filteredHistory && showHistory">
            <ion-item *ngFor="let h of filteredHistory" (touchstart)="setKeyword(h)" (mousedown)="setKeyword(h)">{{h}} <fa-icon item-end [icon]="['fas', 'history']"></fa-icon></ion-item>
          </ion-list>
          <div *ngIf="keyword.invalid && (keyword.dirty || keyword.touched)" class="error-text">
            <div *ngIf="keyword.errors.minlength">{{'CharactersTooShort'|translate:{length: '3'} }}</div>
            <div *ngIf="keyword.errors.maxlength">{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item *ngIf="moreOptions">
            <ion-label style="padding-right: 16px;">{{'Created By'|translate}}</ion-label>
            <ion-input type="text" formControlName="creator"></ion-input>
          </ion-item>
          <div *ngIf="creator.invalid && (creator.dirty || creator.touched)" class="error-text">
            <div *ngIf="creator.errors.minlength">{{'CharactersTooShort'|translate:{length: '3'} }}</div>
            <div *ngIf="creator.errors.maxlength">{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item *ngIf="moreOptions">
            <ion-label style="margin: inherit;">{{'Suitable'|translate}} ({{'Age'|translate}})</ion-label>
            <ion-select style="padding-right: 30px;" formControlName="suitableStudent" interface="popover">
              <ion-select-option *ngFor="let state of suitableStudentOptions" [value]="state">{{'SuitableStudent.' + state|translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="moreOptions">
            <ion-label style="margin: inherit;">{{'Type'|translate}}</ion-label>
            <ion-select style="padding-right: 30px;" formControlName="type" interface="popover">
              <ion-select-option value="Any">{{'Any'|translate}}</ion-select-option>
              <ion-select-option value="Vocab">{{'Word'|translate}}</ion-select-option>
              <ion-select-option value="Article">{{'Sentence'|translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="moreOptions">
            <ion-label style="margin: inherit;">{{'Date'|translate}}</ion-label>
            <ion-select style="padding-right: 30px;" formControlName="minDate" interface="popover">
              <ion-select-option *ngFor="let option of dateOptions" [value]="option">{{option.option|translate}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button fill="outline" class="ion-float-left" (click)="moreOptions = !moreOptions">
            {{'More Options'|translate}}
          </ion-button>

          <ion-button class="ion-float-right" (click)="search()" [disabled]="inputForm.invalid">
            <fa-icon icon="search"></fa-icon>&nbsp;{{'Search'|translate}}
          </ion-button>

        </form>
      </ion-card-content>
    </ion-card>

    <dictation-list [dictations]="results" title="Search Result"></dictation-list>

  </div>
  <app-footer></app-footer>
</ion-content>
