<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'Search Dictation' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    <ion-card class="card">
      <ion-card-content>
        <form class="input-form" [formGroup]="inputForm" novalidate>
          <ion-item>
            <ion-input formControlName="keyword" label="{{'Search'|translate}}" [clearInput]="true" placeholder="{{'Title, words, or ID' | translate}}" (ionInput)="filterHistory($event)" (ionBlur)="stopShowHistory()" (keydown.enter)="searchOnEnter($event)"></ion-input>
          </ion-item>
          @if (showHistory && filteredHistory.length) {
            <ion-list class="autocomplete">
              @for (h of filteredHistory; track h) {
                <ion-item (mousedown)="setKeyword(h)">{{h}} <fa-icon item-end [icon]="['fas', 'history']"></fa-icon></ion-item>
              }
            </ion-list>
          }
          @if (keyword.invalid && (keyword.dirty || keyword.touched)) {
            <div class="error-text">
              @if (keyword.errors.pattern) {
                <div>{{'CharactersTooShort'|translate:{length: '3'} }}</div>
              }
              @if (keyword.errors.maxlength) {
                <div>{{'CharactersTooLong'|translate:{length: '50'} }}</div>
              }
            </div>
          }
          <ion-item>
            <ion-input type="text" label="{{'Created By'|translate}}" formControlName="creator"></ion-input>
          </ion-item>
          @if (creator.invalid && (creator.dirty || creator.touched)) {
            <div class="error-text">
              @if (creator.errors.minlength) {
                <div>{{'CharactersTooShort'|translate:{length: '3'} }}</div>
              }
              @if (creator.errors.maxlength) {
                <div>{{'CharactersTooLong'|translate:{length: '50'} }}</div>
              }
            </div>
          }
          <div class="filters">
            <button type="button" id="suitable-filter" class="filter-chip" data-filter="suitable">
              <span class="chip-title">{{'Suitable'|translate}} ({{'Age'|translate}}):&nbsp;</span>
              <span class="chip-value">{{ suitableChipLabel }}</span>
            </button>
            <button type="button" id="type-filter" class="filter-chip" data-filter="type">
              <span class="chip-title">{{'Type'|translate}}:&nbsp;</span>
              <span class="chip-value">{{ typeChipLabel }}</span>
            </button>
            <button type="button" id="date-filter" class="filter-chip" data-filter="date">
              <span class="chip-title">{{'Date'|translate}}:&nbsp;</span>
              <span class="chip-value">{{ dateChipLabel }}</span>
            </button>
          </div>
          <ion-popover trigger="suitable-filter" triggerAction="click" [dismissOnSelect]="true" alignment="start">
            <ng-template>
              <ion-list>
                @for (state of suitableStudentOptions; track state) {
                  <ion-item button (click)="chooseSuitable(state)"><ion-label class="ion-text-nowrap">{{'SuitableStudent.' + state|translate}}</ion-label></ion-item>
                }
              </ion-list>
            </ng-template>
          </ion-popover>
          <ion-popover trigger="type-filter" triggerAction="click" [dismissOnSelect]="true" alignment="start">
            <ng-template>
              <ion-list>
                @for (option of typeOptions; track option.value) {
                  <ion-item button (click)="chooseType(option.value)"><ion-label class="ion-text-nowrap">{{option.label|translate}}</ion-label></ion-item>
                }
              </ion-list>
            </ng-template>
          </ion-popover>
          <ion-popover trigger="date-filter" triggerAction="click" [dismissOnSelect]="true" alignment="start">
            <ng-template>
              <ion-list>
                @for (option of dateOptions; track option.option) {
                  <ion-item button (click)="chooseDate(option)"><ion-label class="ion-text-nowrap">{{option.option|translate}}</ion-label></ion-item>
                }
              </ion-list>
            </ng-template>
          </ion-popover>
          <div class="form-actions">
            <ion-button (click)="search()" [disabled]="inputForm.invalid">
              <fa-icon icon="search"></fa-icon>&nbsp;{{'Search'|translate}}
            </ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>

    @if (noResults) {
      <ion-card class="card no-results">
        <ion-card-header>
          <ion-card-title>
            <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            {{ 'Search Result' | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="no-results-copy" role="status">
            <p class="no-results-message">{{ noMatchMessageKey | translate: noMatchMessageParams }}</p>
            @if (noMatchFilterKeys.length) {
              <p class="no-results-filters">{{ 'SearchDictation.FilteredBy' | translate:{ filters: noMatchFilterText } }}</p>
            }
          </div>
          <div class="no-results-actions">
            @if (noMatchFilterKeys.length) {
              <ion-button data-action="soften-filters" (click)="softenFilters()">{{ 'SearchDictation.SoftenFilters' | translate }}</ion-button>
            }
            <ion-button fill="outline" data-action="clear-search" (click)="clearSearch()">{{ 'SearchDictation.Clear' | translate }}</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    } @else {
      <app-dictation-list [dictations]="results" [openById]="true" title="Search Result"></app-dictation-list>
    }

  </div>
  <app-footer></app-footer>
</ion-content>
