<ion-radio-group [ngModel]="selectedType" (ngModelChange)="onSelectedTypeChange($event)">
  <ion-row class="radio">
    <ion-col>
      <ion-item>
        <ion-radio [value]="practiceType.Spell">
          <span [class.deselected]="selectedType === practiceType.Puzzle">{{'Spelling'|translate}}</span>
        </ion-radio>
      </ion-item>
      <div class="type-example" [class.deselected]="selectedType !== practiceType.Spell">
        <fa-icon icon="apple-alt"></fa-icon>&nbsp;<span class="spell">apple</span>
      </div>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-radio [value]="practiceType.Puzzle">
          <span [class.deselected]="selectedType === practiceType.Spell">{{'Puzzle'|translate}}</span>
        </ion-radio>
      </ion-item>
      <div class="type-example puzzle" [class.deselected]="selectedType !== practiceType.Puzzle">
        <fa-icon icon="apple-alt"></fa-icon>
        <span class="puzzle">p</span><span>e</span><span>l</span><span>a</span>
      </div>
    </ion-col>
  </ion-row>
</ion-radio-group>
<div class="options-divider"></div>
