page-instant-dictation {
  textarea.text-input {
    margin: 0px;
  }

  .vocabInput {
    padding-left: 0px;

    .text-input {
      margin: 0px;
    }
  }

  .label {
    color: #007d6f !important;
  }

  .articleInput {
    ion-item {
      padding-left: 8px;
    }

    .textarea {
      border: 1px solid #dddddd;
      margin: 8px 0px 8px 0px;
      font-size: 1.4rem;
    }

  }

  h3 {
    font-size: 2rem !important;
    color: #007d6f !important;
    padding: 8px 8px 0px 8px;
  }

  h4 {
    font-size: 1.8rem !important;
    color: #aaaaaa !important;
    padding: 0px 8px 0px 8px;
  }
}
