
<ion-card class="card" *ngIf="ranking" style="margin-top: 12px;">
  <ion-card-header>
    <i class="fas fa-trophy"></i> {{ 'Ranking' | translate }} - {{ ranking?.scores[0]?.scoreYearMonth < 2000000000 ? '' : 'Full' | translate }}{{ ranking?.scores[0]?.scoreYearMonth > 2000000000 ? '' : ranking?.scores[0]?.yearMonthAsDate | date: 'MM yyyy' }}
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let score of ranking.scores; let i = index">
        <ion-badge item-start style="background-color: #4CAF50;">{{ ranking.firstPosition + i }}</ion-badge>
        <span *ngIf="ranking.firstPosition + i <= 3">
            <i class="fas fa-trophy"
               [class.gold]="ranking.firstPosition + i == 1"
               [class.silver]="ranking.firstPosition + i == 2"
               [class.bronze]="ranking.firstPosition + i == 3"
            ></i>
          </span>
        {{ score.member.displayName | slice:0:17 }}{{ score.member.displayName.length > 17 ? '...' : '' }}
        <span float-right><i class="fas fa-star" style="color: gold"></i> {{score.score}}</span>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
