<ion-card class="card" *ngIf="stat" style="margin-top: 12px;">
  <ion-card-header>
    <i class="fas fa-edit"></i> {{ stat.type | translate }}
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let dictation of stat.dictations; let i = index">
        <ion-badge item-start style="background-color: #4CAF50; margin: 0px;">{{ i+1 }}</ion-badge>
        <ion-row>
          <ion-col>{{ dictation.title | slice:0:17 }}{{ dictation.title.length > 17 ? '...' : '' }}</ion-col>
          <ion-col text-right>{{displayService?.displayName(dictation.creator) | slice:0:17}}{{displayService?.displayName(dictation.creator).length > 17 ? '...' : '' }}</ion-col>
        </ion-row>
        <ion-row class="sub-row">
          <ion-col><i class="fas fa-list-ol"></i> {{ dictation.vocabs.length }}</ion-col>
          <ion-col><i class="fas fa-pencil-alt"></i> {{ dictation.totalAttempt }}</ion-col>
          <ion-col><i class="far fa-thumbs-up"></i> {{dictation.totalRecommended}}</ion-col>
        </ion-row>
        <button ion-button outline item-end (click)="navService.openDictation(dictation)">{{ 'ViewDictation' | translate }}</button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
