<ion-card class="card" *ngIf="stat" style="margin-top: 12px;">
  <ion-card-header>
    <i class="fas fa-edit"></i> {{ stat.type | translate }}
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let dictation of stat.dictations; let i = index">
        <ion-badge item-start style="background-color: #4CAF50; margin: 0px;">{{ i+1 }}</ion-badge>
        <ion-row>
          <ion-col>{{ dictation.title | slice:0:17 }}{{ dictation.title.length > 17 ? '...' : '' }}</ion-col>
          <ion-col text-right>{{ dictation.creator.name.fullName }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col center text-left>Vocabs: {{ dictation.vocabs.length }}</ion-col>
          <ion-col center text-center>Attempts: {{ dictation.totalAttempt }}</ion-col>
          <ion-col center text-right><i class="far fa-thumbs-up"></i> {{dictation.totalRecommended}}</ion-col>
        </ion-row>
        <button ion-button outline item-end (click)="openDictation(dictation)">View</button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
