dictation-statistics {
  .summaryCard {
    margin: 0px;
    width: 100%;

    ion-card-header {
      color: white;
      background-color: #2196f3;
    }

    ion-item {
      background-color: transparent;
    }


  }
}
