<div style="padding-top: 8px;">
  @if (histories && histories.length > 0) {
    <ion-card class="card">
      <ion-card-content>
        <ion-list>
          @for (history of histories; track history; let i = $index) {
            <ion-item>
              <ion-button fill="clear" slot="start" class="history-audio-button" (click)="speak(history.question)">
                <fa-icon [icon]="['fas', 'headphones']"></fa-icon>
              </ion-button>
              <ion-label>
                <p>@for (word of history.questionSegments; track word; let j = $index) {
                  <span
                    [class.green-text]="history.isCorrect[j]"
                  [class.red]="!history.isCorrect[j]">{{word}}&nbsp;</span>
                }</p>
                <p>{{history.answer}} &nbsp;</p>
              </ion-label>
            </ion-item>
          }
        </ion-list>
      </ion-card-content>
    </ion-card>
  }
</div>
