.history-summary {
  display: flex;
  justify-content: flex-end;
  padding: 4px 10px 0;
}

.result-score {
  font-size: 1.2rem;
  color: var(--ion-color-secondary);
}

.history-content {
  padding-top: 4px;
}
