page-home {
  .header {
    background-color: #4CAF50;
    color: white;
    margin: 0px;
    width: 100%;

    ion-card-header {
      color: white;
      font-size: 3rem;
      text-align: center;
      padding: 8px;
      background-color: #488aff;
    }

    ion-card-content {
      font-size: 2.2rem;
      text-align: center;
      padding: 8px;
      background-color: #4CAF50;
    }
  }

  .appImage {
    height: 50px; padding: 4px;
  }

}
