<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'My Dictation' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="dictation" [checked]="selectedSegment === 'dictation'">Dictation</ion-segment-button>
      <ion-segment-button value="vocabulary" [checked]="selectedSegment === 'vocabulary'">Vocabulary</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
        <member-score-list [allTimesScore]="allTimesScore" [scores]="latestScore"></member-score-list>
        <member-practice-history-list *ngIf="selectedSegment === 'dictation'" [histories]="practiceHistories"></member-practice-history-list>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
        <dictation-list *ngIf="selectedSegment === 'dictation'" [dictations]="createdDictations" showCreateButton="true" title="My Dictation Created"></dictation-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <footer></footer>
</ion-content>
