<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      @if (!showBackButton) {
        <ion-menu-button></ion-menu-button>
      } @else {
        <ion-button fill="clear" (click)="goBack()">
          <fa-icon icon="angle-left" size="2x"></fa-icon>
        </ion-button>
      }
    </ion-buttons>
    <ion-title>
      @if (showLogo) {
        <ion-img src="assets/img/logo_new.png" class="navbar-logo" alt="logo"></ion-img>
      }
      @if (!showLogo) {
        <span>{{ title | translate }}</span>
      }
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openMemberMenu()">
        @if (authService.isAuthenticated$ | async) {
          <fa-icon
          [icon]="['fas', 'user-circle']"></fa-icon>
        } @else {
          <fa-icon [icon]="['far', 'user']"></fa-icon>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
