<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="this.modalController.dismiss()"><fa-icon [icon]="['fas', 'times']"></fa-icon></ion-button>

    <ion-title>{{ 'SelectedVocabulary' | translate:{number: selectedVocabs.size} }}</ion-title>

    @if (selectedVocabs?.size > 0) {
      <ion-button fill="clear" slot="end" (click)="createExercise()"><fa-icon [icon]="['fas', 'check']"></fa-icon></ion-button>
    }

  </ion-toolbar>
</ion-header>
<ion-content style="height: 100%">
  @if (inputForm) {
    <form [formGroup]="inputForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-input type="text" label="{{'Title'|translate}}:" formControlName="title"></ion-input>
        </ion-item>
        @if (title.invalid && (title.dirty || title.touched)) {
          <ion-item class="error-text">
            @if (title.errors.required) {
              <ion-label>{{'Title is required'|translate}}</ion-label>
            }
            @if (title.errors.minlength) {
              <ion-label>{{'Title must be at least 5 characters long'|translate}}</ion-label>
            }
            @if (title.errors.maxlength) {
              <ion-label>{{'Title cannot over 50 characters long'|translate}}</ion-label>
            }
          </ion-item>
        }
        @for (vocab of showingVocabs; track vocabTrackById(i, vocab); let i = $index) {
          <ion-item
            button (click)="selectVocab(vocab)"
            [class.highlight]="selectedVocabs.has(vocab.id.word)">
            <ion-label>
              <ion-row>
                <ion-col class="heading word">{{vocab.id.word}}</ion-col>
                <ion-col class="ion-text-right">
                  <span class="green-text"><fa-icon [icon]="['fas', 'check']"></fa-icon> {{vocab.correct}}</span>
                  /
                  <span class="red"><fa-icon [icon]="['fas', 'times']"></fa-icon> {{vocab.wrong}}</span>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        }
      </ion-list>
    </form>
  }

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
