<ion-header>
  <ion-title *ngIf="selectedVocabs?.size == 0">click on vocabulary to create an exercise</ion-title>
  <ion-title *ngIf="selectedVocabs?.size > 0">selected {{ selectedVocabs.size }} vocabularies</ion-title>
</ion-header>
<ion-content style="height: 100%">
  <ion-list>
    <ion-item *ngFor="let vocab of showingVocabs; let i = index"
              button (click)="selectVocab(vocab)"
              [class.highlight]="selectedVocabs.has(vocab.id.word)">
      <ion-label>
        <ion-row>
          <ion-col class="heading">{{vocab.id.word}}</ion-col>
          <ion-col class="ion-text-right">
            <span class="green-text"><fa-icon [icon]="['fas', 'check']"></fa-icon> {{vocab.correct}}</span>
            /
            <span class="red"><fa-icon [icon]="['fas', 'times']"></fa-icon> {{vocab.wrong}}</span>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
