<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span *ngIf="!authService.isAuthenticated()">Menu</span>
          <span *ngIf="authService.isAuthenticated()">Hi, {{authService.userProfile?.name}}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content menu-content">

      <ion-list>
        <ion-list-header>Fun Fun Spell</ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)" [style.color]="isActive(p)">
          <i [ngClass]="p.iconClass" item-start></i> {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>Member</ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)" [style.color]="isActive(p)">
          <i [ngClass]="p.iconClass" item-start></i> {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>Account</ion-list-header>
        <button ion-item menuClose *ngIf="!authService.isAuthenticated()" (click)="authService.login();">
          <i class="fas fa-sign-in-alt" item-start></i> Login
        </button>
        <button ion-item menuClose *ngIf="!authService.isAuthenticated()" (click)="authService.signUp();">
          <i class="fas fa-user-plus" item-start></i> Sign Up
        </button>
        <button ion-item menuClose *ngIf="authService.isAuthenticated()" (click)="authService.logout();">
          <i class="fas fa-sign-out-alt" item-start></i> Logout
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>Language</ion-list-header>
        <button ion-item menuClose (click)="changeLanguage('en')">Eng</button>
        <button ion-item menuClose (click)="changeLanguage('zh')">繁</button>
      </ion-list>

      <!--<ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>-->

      <!--<ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>-->
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
