<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span *ngIf="!authService.isAuthenticated()">Menu</span>
          <span *ngIf="authService.isAuthenticated()">Hi, {{authService.userProfile?.name}}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content menu-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
        <button ion-item (click)="nav.setRoot('EditDictationPage'); menu.close();">Create Dictation</button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>Auth0</ion-list-header>
        <button ion-item *ngIf="!authService.isAuthenticated()" (click)="authService.login()"><ion-icon name="log-in"></ion-icon> Login</button>
        <button ion-item *ngIf="authService.isAuthenticated()" (click)="authService.logout(); menu.close();"><ion-icon name="log-out"></ion-icon> Logout</button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Language
        </ion-list-header>
        <button ion-item menuClose (click)="changeLanguage('en')">
          Eng
        </button>
        <button ion-item menuClose (click)="changeLanguage('zh')">
          繁
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Hi, {{authService.userProfile?.name}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
        <button ion-item (click)="nav.setRoot('EditDictationPage'); menu.close();">Create Dictation</button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>Auth0</ion-list-header>
        <button ion-item *ngIf="authService.isAuthenticated()" (click)="authService.logout(); menu.close();"><ion-icon name="log-out"></ion-icon> Logout</button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Language
        </ion-list-header>
        <button ion-item menuClose (click)="changeLanguage('en')">
          Eng
        </button>
        <button ion-item menuClose (click)="changeLanguage('zh')">
          繁
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
