<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span *ngIf="!authService.isAuthenticated()">{{ 'Menu' | translate }}</span>
          <span *ngIf="authService.isAuthenticated()">{{'Hi'|translate}}, {{authService.userProfile?.name}}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content menu-content">

      <ion-list>
        <ion-list-header>Fun Fun Spell</ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)" [style.color]="isActive(p)">
          <i [ngClass]="p.iconClass" item-start></i> {{p.title | translate}}
        </button>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openLoggedInPage(p)" [style.color]="isActive(p)">
          <i [ngClass]="p.iconClass" item-start></i> {{p.title | translate}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>{{ 'Account' | translate }}</ion-list-header>
        <button ion-item menuClose *ngIf="!authService.isAuthenticated()" (click)="authService.login();">
          <fa-icon [icon]="['fas', 'sign-in-alt']" item-start></fa-icon> {{ 'Login' | translate }}
        </button>
        <button ion-item menuClose *ngIf="!authService.isAuthenticated()" (click)="authService.signUp();">
          <fa-icon [icon]="['fas', 'user-plus']" item-start></fa-icon> {{ 'Sign Up' | translate }}
        </button>
        <button ion-item menuClose *ngIf="authService.isAuthenticated()" (click)="nav.setRoot('AccountPage')">
          <fa-icon [icon]="['fas', 'user']" item-start></fa-icon> {{ 'My Account' | translate }}
        </button>
        <button ion-item menuClose *ngIf="authService.isAuthenticated()" (click)="authService.logout();">
          <fa-icon [icon]="['fas', 'sign-out-alt']" item-start></fa-icon> {{ 'Logout' | translate }}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>{{ 'Language' | translate }}</ion-list-header>
        <button ion-item menuClose (click)="changeLanguage('en')">Eng</button>
        <button ion-item menuClose (click)="changeLanguage('zh-Hant')">繁體</button>
        <button ion-item menuClose (click)="changeLanguage('zh-Hans')">简体</button>
      </ion-list>

      <ion-list>
        <button ion-item menuClose (click)="openContactUs()"><fa-icon [icon]="['fas', 'external-link-alt']" item-start></fa-icon>{{'Contact Us'|translate}}</button>
        <button ion-item menuClose (click)="appService.openFunFunSpell()"><fa-icon [icon]="['fas', 'external-link-alt']" item-start></fa-icon>{{'More Exercises at'|translate}}<br/>funfunspell.com</button>
      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
