<ion-list>
  <ion-item>
    <ion-label><fa-icon [icon]="['fas', 'font']"></fa-icon> {{'Case Sensitive'|translate}}</ion-label>
    <ion-toggle #caseSensitive (ionChange)="optionChanged($event, caseSensitiveKey)"
                style=""></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label><fa-icon [icon]="['fas', 'question']"></fa-icon> {{'Check Punctuation'|translate}}</ion-label>
    <ion-toggle #checkPunctuation (ionChange)="optionChanged($event, checkPunctuationKey)"
                style=""></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label><fa-icon [icon]="['fas', 'volume-low']"></fa-icon> {{'Speak Punctuation'|translate}}</ion-label>
    <ion-toggle #speakPunctuation (ionChange)="optionChanged($event, speakPunctuationKey)"
                style=""></ion-toggle>
  </ion-item>
</ion-list>
