<ion-header>
  <ion-toolbar>
    <ion-title>{{ dictation.title }}</ion-title>
    <ion-button slot="end" style="padding-right: 8px;"><fa-icon [icon]="['fas', 'edit']"></fa-icon>&nbsp;{{ 'Edit' | translate }}</ion-button>
    <ion-button slot="end" fill="clear" (click)="this.modalController.dismiss()"><fa-icon [icon]="['fas', 'times']"></fa-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item *ngFor="let vocab of memberVocabularies; let i = index">
        <ion-label>
          <ion-row>
            <ion-col class="heading">{{vocab.id.word}}</ion-col>
            <ion-col class="ion-text-right">
              <span class="green-text"><fa-icon [icon]="['fas', 'check']"></fa-icon> {{vocab.correct}}</span>
              /
              <span class="red"><fa-icon [icon]="['fas', 'times']"></fa-icon> {{vocab.wrong}}</span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
