<ion-card class="card" *ngIf="dictation" style="margin-top: 8px;">
  <ion-card-header>
    <fa-icon [icon]="['fas', 'edit']"></fa-icon> {{ 'Dictation' | translate }} - {{ dictation.title }}
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
          <table width="95%">
            <tr *ngIf="dictation.id > 0">
              <td width="125">{{ 'ID' | translate }}</td>
              <td>
                <strong>{{dictation.id}}</strong>
                <fa-icon class="info-button" (click)="openSearchByIdPopup()" [icon]="['fas', 'info-circle']"></fa-icon>
              </td>
            </tr>
            <tr>
              <td width="125">{{ 'Title' | translate }}</td>
              <td><strong>{{dictation.title}}</strong></td>
            </tr>
            <tr>
              <td>{{ 'Description' | translate }}</td>
              <td>{{ dictation.description }}</td>
            </tr>
            <tr>
              <td>{{ 'Suitable' | translate }}</td>
              <td>{{ 'SuitableStudent.' + dictation.suitableStudent | translate }}</td>
            </tr>
            <tr *ngIf="!dictationService.isSentenceDictation(dictation)">
              <td>{{ 'Show Image' | translate }}</td>
              <td>
                <fa-icon [icon]="['fas', 'check']" *ngIf="dictation.showImage"></fa-icon>
                <fa-icon [icon]="['fas', 'times']" *ngIf="!dictation.showImage"></fa-icon>
              </td>
            </tr>
            <tr *ngIf="dictationService.isSentenceDictation(dictation)">
              <td>{{ 'Each Sentence Length' | translate }}</td>
              <td>{{ 'SentenceLength.' + dictation.sentenceLength | translate }}</td>
            </tr>
            <tr [@recommend]="recommendState"
                (@recommend.done)="recommendAnimationDone($event)">
              <td>{{ 'Recommend' | translate }}</td>
              <td><fa-icon [icon]="['far', 'thumbs-up']"></fa-icon> {{ dictation.totalRecommended }}</td>
            </tr>
            <tr *ngIf="dictation.lastModifyDate">
              <td>{{ 'Last Updated' | translate }}</td>
              <td>{{ dictation.lastModifyDate | date: 'yyyy-MM-dd' }}</td>
            </tr>
            <tr *ngIf="dictation.totalAttempt">
              <td>{{ 'Finished' | translate }}</td>
              <td>{{dictation.totalAttempt}}</td>
            </tr>
          </table>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" *ngIf="showContent && !dictationService.isSentenceDictation(dictation)">
          <div style="padding-bottom: 4px;" >{{'Vocabulary'|translate}} ({{dictation.vocabs.length}}):</div>
          <span *ngFor="let vocab of dictation.vocabs"><ion-badge style="background-color: #4CAF50; margin-right: 4px;">{{ vocab.word }}</ion-badge></span>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" *ngIf="showContent && dictationService.isSentenceDictation(dictation)">
          <div style="padding-bottom: 4px;" >{{'Article'|translate}}:</div>
          <p>{{dictation.article}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="!dictationService.isInstantDictation(dictation)" fill="outline" (click)="shareDictation()"><fa-icon [icon]="['fas', 'share-square']"></fa-icon>&nbsp;{{'Share'|translate}}</ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button *ngIf="start" (click)="navService.startDictation(dictation)"><fa-icon [icon]="['fas', 'play']"></fa-icon>&nbsp;{{'Start'|translate}}</ion-button>
        <ion-button *ngIf="retry" (click)="navService.startDictation(dictation)"><fa-icon [icon]="['fas', 'redo']"></fa-icon>&nbsp;{{'Retry'|translate}}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="share">
      <ion-col>

        <share-buttons [theme]="'modern-dark'"
                       [include]="['facebook','twitter','whatsapp','line','messenger','email','copy']"
                       show="7"
                       [showText]="false"
                       size="1"
                       [autoSetMeta]="false"
                       [url]="dictationUrl"
        ></share-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="edit" color="secondary" (click)="navService.editDictation(dictation)"><fa-icon [icon]="['fas', 'edit']"></fa-icon>&nbsp;{{'Edit'|translate}}</ion-button>
        <ion-button *ngIf="edit" color="danger" (click)="confirmDeleteDictation()"><fa-icon [icon]="['fas', 'trash']"></fa-icon>&nbsp;{{'Delete'|translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
