@if (dictation) {
  <div class="dictation-card-layout">
    <app-section-card
      class="dictation-section section-info"
      [headerTitle]="(dictation.source === sourceType.FillIn ? 'Dictation' : 'Vocabulary Exercise') | translate"
      icon="edit">
      <div class="section-body">
        <table class="dictation-detail">
          @if (dictation.id > 0 && !dictationHelper.isSelectVocabExercise(dictation)) {
            <tr>
              <td>{{ 'ID' | translate }}</td>
              <td>
                <strong>{{dictation.id}}</strong>
                <fa-icon class="info-button" (click)="openSearchByIdPopup()" [icon]="['fas', 'info-circle']"></fa-icon>
              </td>
            </tr>
          }
          <tr>
            <td>{{ 'Title' | translate }}</td>
            <td><strong>{{dictation.title}}</strong></td>
          </tr>
          @if (dictation.source === sourceType.FillIn) {
            <tr class="descriptionTR">
              <td>{{ 'Description' | translate }}</td>
              <td>{{ dictation.description }}</td>
            </tr>
          }
          @if (dictation.source === sourceType.FillIn) {
            <tr class="suitableTR">
              <td>{{ 'Suitable' | translate }}</td>
              <td>{{ 'SuitableStudent.' + dictation.suitableStudent | translate }}</td>
            </tr>
          }
          @if (!dictationHelper.isSentenceDictation(dictation)) {
            <tr>
              <td>{{ 'Show Image' | translate }}</td>
              <td>
                @if (dictation.showImage) {
                  <fa-icon [icon]="['fas', 'check']"></fa-icon>
                }
                @if (!dictation.showImage) {
                  <fa-icon [icon]="['fas', 'times']"></fa-icon>
                }
                ({{ ( dictation.includeAIImage ? 'Include AI Generated Image' : 'Not Include AI Generated Image' ) | translate }})
              </td>
            </tr>
          }
          @if (dictationHelper.isSentenceDictation(dictation)) {
            <tr>
              <td>{{ 'Each Sentence Length' | translate }}</td>
              <td>{{ 'SentenceLength.' + dictation.sentenceLength | translate }}</td>
            </tr>
          }
          @if (dictation.source === sourceType.FillIn && !dictationHelper.isInstantDictation(dictation)) {
            <tr class="recommendTR"
                [@recommend]="recommendState"
                (@recommend.done)="recommendAnimationDone($event)">
              <td>{{ 'Recommend' | translate }}</td>
              <td><fa-icon [icon]="['far', 'thumbs-up']"></fa-icon> {{ dictation.totalRecommended }}</td>
            </tr>
          }
          @if (dictation.lastModifyDate) {
            <tr>
              <td>{{ 'Last Updated' | translate }}</td>
              <td>{{ dictation.lastModifyDate | date: 'yyyy-MM-dd' }}</td>
            </tr>
          }
          @if (dictation.totalAttempt) {
            <tr>
              <td>{{ 'Finished' | translate }}</td>
              <td>{{dictation.totalAttempt}}</td>
            </tr>
          }
        </table>

        <div class="dictation-controls">
          @if (edit && dictation?.source === sourceType.FillIn) {
            <ion-button class="action-button edit-button" color="secondary" (click)="navService.editDictation(dictation)"><fa-icon [icon]="['fas', 'edit']"></fa-icon>&nbsp;{{'Edit'|translate}}</ion-button>
          }
          @if (edit) {
            <ion-button class="action-button" color="danger" (click)="confirmDeleteDictation()"><fa-icon [icon]="['fas', 'trash']"></fa-icon>&nbsp;{{'Delete'|translate}}</ion-button>
          }
          @if (!dictationHelper.isInstantDictation(dictation) && dictation.source === sourceType.FillIn) {
            <ion-button class="action-button share-button" (click)="shareDictation()">
              <fa-icon [icon]="['fas', 'share-square']"></fa-icon>&nbsp;{{'Share'|translate}}
            </ion-button>
          }
          <ng-content select="[dictationInfoActions]"></ng-content>
        </div>
      </div>
    </app-section-card>

    @if (showContent) {
      <app-section-card class="dictation-section section-content" [headerTitle]="'Content'|translate" icon="pen">
        <div class="section-body">
          @if (!dictationHelper.isSentenceDictation(dictation)) {
            <div class="content-title">{{'Vocabulary'|translate}} ({{dictation.vocabs.length}}):</div>
            @if (dictation.source === sourceType.FillIn) {
              <div class="fillin-vocabs">
                @for (vocab of dictation.vocabs; track vocab) {
                  <span>
                    <ion-badge class="fillin-badge">{{ vocab.word }}</ion-badge>
                  </span>
                }
              </div>
            }
            @if (dictation.source === sourceType.Select) {
              <ion-list class="select-vocab-list">
                @for (vocab of memberVocabularies; track vocab; let i = $index) {
                  <ion-item>
                    <ion-label class="vocab-label">
                      <ion-row>
                        <ion-col class="heading">
                          {{vocab.id.word}}
                          @if (manageVocabHistoryService.isLearnt(vocab)) {
                            <ion-badge color="light">{{ 'Learnt' | translate }}</ion-badge>
                          }
                        </ion-col>
                        <ion-col class="ion-text-right">
                          <span class="green-text"><fa-icon [icon]="['fas', 'check']"></fa-icon> {{vocab.correct}}</span>
                          /
                          <span class="red"><fa-icon [icon]="['fas', 'times']"></fa-icon> {{vocab.wrong}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-label>
                  </ion-item>
                }
              </ion-list>
            }
          } @else {
            <div class="content-title">{{'Article'|translate}}:</div>
            <p>{{dictation.article}}</p>
          }
        </div>
      </app-section-card>
    }

    @if (showOptions) {
      <app-section-card class="dictation-section section-options" [headerTitle]="'Options'|translate" icon="sliders-h">
        <div class="section-body">
          @if (start) {
            <app-voice-mode-selector
              [selectedMode]="selectedVoiceMode"
              (selectedModeChange)="onVoiceModeChange($event)">
            </app-voice-mode-selector>
          }

          @if (start && dictationHelper.isSentenceDictation(dictation)) {
            <app-article-dictation-options #articleDictationOptions></app-article-dictation-options>
          }

          @if (start && !dictationHelper.isSentenceDictation(dictation)) {
            <app-vocab-practice-type-selector
              class="start-type-selector"
              [selectedType]="selectedStartPracticeType"
              (selectedTypeChange)="selectedStartPracticeType = $event">
            </app-vocab-practice-type-selector>
            @if (showStartButton) {
              <div class="start-button-row">
                <ion-button class="action-button start-button" (click)="startVocabDictation(selectedStartPracticeType)">
                  <fa-icon [icon]="['fas', 'play']"></fa-icon>&nbsp;{{'Start'|translate}}
                </ion-button>
              </div>
            }
          }

          @if (showStartButton && start && dictationHelper.isSentenceDictation(dictation)) {
            <div class="start-button-row">
              <ion-button class="action-button start-button" (click)="startArticleDictation()">
                <fa-icon [icon]="['fas', 'play']"></fa-icon>&nbsp;{{'Start'|translate}}
              </ion-button>
            </div>
          }
          <ng-content select="[dictationOptionActions]"></ng-content>
        </div>
      </app-section-card>
    }
  </div>
}
