.phonicsButton {
  --width: 150px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --background: #e91e63;
  --background-activated: #d90e53;
  --color: #ffffff;
}

.speakButton {
  --width: 150px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --background: #69BB7B;
  --background-activated: #59AB6B;
  --color: #ffffff;
}

