<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'Dictation Practice' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 16px;">
    <ion-card class="card" *ngIf="currentQuestion()">
      <ion-card-header>
        {{'Question'|translate}} {{ questionIndex + 1 }}
        <score class="ion-float-right" [mark]="mark"></score>
      </ion-card-header>

      <ion-card-content style="font-size: 1.6rem">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="12" size-md="6">
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-button shape="round" class="speakButton" (click)="speak()"><fa-icon [icon]="['fas', 'headphones']"></fa-icon>&nbsp;{{'Listen'|translate}}</ion-button>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-button shape="round" class="phonicsButton" (click)="showPhonics()">{{phonics|translate}}</ion-button>
                </ion-col>
              </ion-row>
              <ion-item class="answerInput">
                <ion-label position="floating">{{'Answer'|translate}}</ion-label>
                <ion-input #answerElement [(ngModel)]="answer" type="text" inputmode="text" maxlength="30" (keyup.enter)="submitAnswer()"
                           autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
              </ion-item>
              <div>
                  <ion-button fill="clear" size="large"
                              [class.grey-text]="!showKeyboard"
                              (click)="clickShowKeyboard()">
                    <fa-icon icon="keyboard"></fa-icon>
                  </ion-button>
                  <ion-button class="submitBtn ion-float-right" (click)="submitAnswer()">
                    <fa-icon icon="check"></fa-icon>&nbsp;{{'Submit'|translate}}
                  </ion-button>
              </div>
              <div *ngIf="showKeyboard"><virtual-keyboard (keyPress)="onKeyPress($event)" (backspace)="onBackspace($event)"></virtual-keyboard></div>
            </ion-col>
            <ion-col size="12" size-sm="12" size-md="6">
              <vocab-image [images]="currentQuestion().picsFullPaths"></vocab-image>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <practice-history-list [histories]="histories" [mark]="mark"></practice-history-list>
  </div>
  <app-footer></app-footer>
</ion-content>
