.phonicsButton {
  --width: 150px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --background: var(--ion-color-primary-tint);
  --color: #ffffff;
}

.speakButton {
  --width: 150px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --background: var(--ion-color-primary-tint);
  --color: #ffffff;
}

.simple-keyboard {
  max-width: 850px;
}

.puzzle-div {
  text-align: center;
}

.answer-container {
  width: 100%;
  padding: 8px 0;
}

.answer-label {
  font-size: 12px;
  color: var(--ion-color-medium);
  margin-bottom: 4px;
}

.answer-display {
  min-height: 24px;
  white-space: pre;
}

.answer-container ion-input {
  --padding-top: 0;
  --padding-bottom: 0;
  height: 24px;
  min-height: 24px;
}

.blinking-caret {
  font-weight: bold;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
