.phonicsButton {
  --width: 150px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --background: var(--ion-color-primary-tint);
  --color: #ffffff;
}

.speakButton {
  --width: 150px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --background: var(--ion-color-primary-tint);
  --color: #ffffff;
}

.simple-keyboard {
  max-width: 850px;
}
