<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{'Dictation Practice' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 16px;">
    <ion-card class="card" *ngIf="currentQuestion()">
      <ion-card-header>
        <ion-card-title>
          {{'Question'|translate}} {{ questionIndex + 1 }} <span
          *ngIf="dictation?.options?.retryWrongWord">({{'incorrect only'|translate}})</span>
          <score class="ion-float-right" [mark]="mark"></score>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content style="font-size: 1.6rem">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="12" size-md="6">
              <ion-row>
                <ion-col class="ion-text-center">
                  <ion-button shape="round" class="speakButton" (click)="speak()"><fa-icon [icon]="['fas', 'headphones']"></fa-icon>&nbsp;{{'Listen'|translate}}</ion-button>
                </ion-col>
                <ion-col class="ion-text-center">
                  <ion-button shape="round" class="phonicsButton" (click)="showPhonics()">{{phonics|translate}}</ion-button>
                </ion-col>
              </ion-row>
              <div>
                <app-text-interpretation [text]="currentQuestion().word" />
              </div>
              <div *ngIf="practiceType === type.Spell" class="spell-input-div">
                <ion-item class="answerInput">
                  <div class="answer-container">
                    <div class="answer-label">{{'Answer'|translate}}:</div>
                    <ion-input #answerInput *ngIf="!isKeyboardActive" [(ngModel)]="answer" type="text" inputmode="text" [maxlength]="100" (keyup.enter)="submitSpellingAnswer()"
                               autocomplete="off" autocorrect="off" autocapitalize="off" [spellcheck]="false"></ion-input>
                    <div *ngIf="isKeyboardActive" class="answer-display">{{answer}}<span class="blinking-caret">|</span></div>
                  </div>
                </ion-item>
                <div>
                    <ion-button fill="clear" size="large"
                                [class.grey-text]="!isKeyboardActive"
                                (click)="virtualKeyboard.changeKeyboardType()">
                      <fa-icon icon="keyboard"></fa-icon>
                    </ion-button>
                    <ion-button class="submitBtn ion-float-right" (click)="submitSpellingAnswer()">
                      <fa-icon icon="check"></fa-icon>&nbsp;{{'Submit'|translate}}
                    </ion-button>
                </div>
              </div>
              <div *ngIf="practiceType === type.Puzzle && puzzleControls != null" class="puzzle-div">
                <div>
                  <app-character *ngFor="let char of puzzleControls.answers"
                                 [character]="char" [state]="puzzleControls.answerState"></app-character>
                </div>

                <div>
                  <app-character-button *ngFor="let char of puzzleControls.buttons; let i = index"
                                        [character]="char" [isCorrect]="puzzleControls.buttonCorrects[i]"
                                        (correctPress)="onCharacterButtonPress($event)">

                  </app-character-button>
                </div>
              </div>

            </ion-col>
            <ion-col size="12" size-sm="12" size-md="6">
              <vocab-image [images]="currentQuestion().picsFullPaths" [AIImage]="dictation.includeAIImage"></vocab-image>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <practice-history-list [histories]="histories" [mark]="mark"></practice-history-list>
  </div>
  <app-footer></app-footer>
</ion-content>

<ion-footer>
    <virtual-keyboard #virtualKeyboard
                      [disabled]="practiceType === type.Puzzle"
                      (keyPress)="onKeyPress($event)"
                      (keyboardEvent)="onKeyboardEvent($event)"></virtual-keyboard>
</ion-footer>
