<div class="virtual-keyboard ion-text-center">
  <p>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('q')">q</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('w')">w</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('e')">e</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('r')">r</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('t')">t</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('y')">y</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('u')">u</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('i')">i</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('o')">o</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('p')">p</ion-button>
  </p>
  <p>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('a')">a</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('s')">s</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('d')">d</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('f')">f</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('g')">g</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('h')">h</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('j')">j</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('k')">k</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('l')">l</ion-button>
  </p>
  <p>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('z')">z</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('x')">x</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('c')">c</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('v')">v</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('b')">b</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('n')">n</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('m')">m</ion-button>
  </p>
  <p>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress(',')">,</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('-')">-</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button space-button" (click)="onKeyPress(' ')">␣</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onKeyPress('\'')">'</ion-button>
    <ion-button fill="outline" size="small" class="keyboard-button" (click)="onBackspace()"><fa-icon icon="backspace"></fa-icon></ion-button>
  </p>
</div>
