<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'My Account' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="padding: 16px;">
    <ion-card class="input-form">
      <ion-card-content>
        <form [formGroup]="inputForm" novalidate>
          <ion-item>
            <ion-label stacked>{{'User Id'|translate}}</ion-label>
            <ion-input type="text" value="{{member?.userId}}" disabled="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{'Email'|translate}}</ion-label>
            <ion-input type="text" value="{{member?.emailAddress}}" disabled="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{'First Name'|translate}}</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error-text">
            <div *ngIf="firstName.errors.maxlength">{{'First Name' | translate}}{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item>
            <ion-label stacked>{{'Last Name'|translate}}</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-text">
            <div *ngIf="lastName.errors.maxlength">{{'Last Name'|translate}}{{'CharactersTooLong'|translate:{length: '50'} }}</div>
          </div>
          <ion-item>
            <ion-label stacked>{{'Date of birth'|translate}}</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" max="2015" formControlName="birthday"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{'Address'|translate}}</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
          <div *ngIf="address.invalid && (address.dirty || address.touched)" class="error-text">
            <div *ngIf="address.errors.maxlength">{{'Address'|translate}}{{'CharactersTooLong'|translate:{length: '200'} }}</div>
          </div>
          <ion-item>
            <ion-label stacked>{{'Phone'|translate}}</ion-label>
            <ion-input type="text" formControlName="phoneNumber"></ion-input>
          </ion-item>
          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error-text">
            <div *ngIf="phoneNumber.errors.maxlength">{{'Phone'|translate}}{{'CharactersTooLong'|translate:{length: '20'} }}</div>
            <div *ngIf="phoneNumber.errors.pattern">{{'Allow numbers input only'|translate}}</div>
          </div>
          <ion-item>
            <ion-label stacked>{{'School'|translate}}</ion-label>
            <ion-input type="text" formControlName="school"></ion-input>
          </ion-item>
          <div *ngIf="school.invalid && (school.dirty || school.touched)" class="error-text">
            <div *ngIf="school.errors.maxlength">{{'School'|translate}}{{'CharactersTooLong'|translate:{length: '100'} }}</div>
          </div>


          <button ion-button float-right item-end color="secondary" (click)="save()" style="margin: 16px;" [disabled]="inputForm.invalid">
            <i class="fas fa-save"></i>&nbsp;{{'Save'|translate}}
          </button>

        </form>
      </ion-card-content>
    </ion-card>

  </div>

  <footer></footer>
</ion-content>
