<ion-card class="card dictation-list" style="margin-top: 12px;">
  <ion-card-header>
    <i class="fas fa-edit"></i> {{ 'My Dictation Created' | translate }}
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let dictation of viewDictations; let i = index">
        <ion-row>
          <ion-col class="heading">{{dictation.title}}</ion-col>
          <ion-col text-right>{{ dictation.createdDate | date: 'yyyy-MM-dd' }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><i class="fas fa-list-ol"></i> {{ dictation.vocabs.length }}</ion-col>
          <ion-col><i class="fas fa-pencil-alt"></i> {{ dictation.totalAttempt }}</ion-col>
          <ion-col><i class="far fa-thumbs-up"></i> {{dictation.totalRecommended}}</ion-col>
          <ion-col><i class="far fa-images"></i> <i class="fas fa-check" *ngIf="dictation.showImage"></i><i class="fas fa-times" *ngIf="!dictation.showImage"></i></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col-label">{{ 'Suitable' | translate }}:</ion-col>
          <ion-col>{{ 'SuitableStudent.' + dictation.suitableStudent | translate }}</ion-col>
        </ion-row>
        <button ion-button outline item-end (click)="navService.openDictation(dictation)">{{ 'ViewDictation' | translate }}</button>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <button ion-button clear (click)="newer()" *ngIf="page > 0"><i class="fas fa-angle-left"></i> {{ 'Newer' | translate }}</button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear (click)="older()" *ngIf="showOlder">{{ 'Older' | translate }} <i class="fas fa-angle-right"></i></button>
      </ion-col>
    </ion-row>
    <ion-row style="border-top: .55px solid #c8c7cc;">
      <ion-col text-right><button ion-button clear (click)="navService.editDictation()" *ngIf="showCreateButton"><i class="far fa-edit"></i> {{ 'Create Dictation' | translate }}</button></ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
