dictation-list {
  .dictation-list {
    ion-item {
      padding-left: 0px;
      font-size: 1.4rem;
      color: #475062;
    }
  }

  .col-label {
    flex: 0 0 90px;
  }

  .col {
    padding: 2px 5px 2px 5px;
  }

  .heading {
    color: #000;
    font-size: 1.6rem;
  }
}
