<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>{{ getTitle() | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    <ion-card class="card">
      <ion-card-content>
        <form *ngIf="inputForm" class="input-form" [formGroup]="inputForm" novalidate>
          <ion-row>
            <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
              <div class="title" *ngIf="mode === editDictationPageMode.Edit">
                <ion-item>
                  <ion-label stacked>{{'Title'|translate}} *</ion-label>
                  <ion-input type="text" formControlName="title"
                             placeholder="Dictation {{now | date:'yyyy-MM-dd'}}"></ion-input>
                </ion-item>
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error-text">
                  <div *ngIf="title.errors.required">{{'Title is required'|translate}}</div>
                  <div *ngIf="title.errors.minlength">{{'Title must be at least 5 characters long'|translate}}</div>
                  <div *ngIf="title.errors.maxlength">{{'Title cannot over 50 characters long'|translate}}</div>
                </div>
              </div>
              <div class="description" *ngIf="mode === editDictationPageMode.Edit">
                <ion-item>
                  <ion-label stacked>{{'Description'|translate}}</ion-label>
                  <ion-input type="text" formControlName="description"></ion-input>
                </ion-item>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-text">
                  <div
                    *ngIf="description.errors.maxlength">{{'Description cannot over 100 characters long'|translate}}</div>
                </div>
              </div>
              <ion-item class="suitableAge" *ngIf="mode === editDictationPageMode.Edit">
                <ion-label style="margin: inherit;">{{'Suitable'|translate}} ({{'Age'|translate}})</ion-label>
                <ion-select style="padding-right: 30px;" formControlName="suitableStudent" interface="popover">
                  <ion-select-option *ngFor="let state of suitableStudentOptions"
                                     [value]="state">{{'SuitableStudent.' + state|translate}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-radio-group [formControl]="type">
                <ion-row class="radio">
                  <ion-col>
                    <ion-item>
                      <ion-label [class.deselected]="type.value === dictationType.Sentence">
                        <fa-icon [icon]="['fas', 'list-ol']"></fa-icon>
                        {{'Single Word'|translate}}</ion-label>
                      <ion-radio value="word"></ion-radio>
                    </ion-item>
                    <div class="type-example" [class.deselected]="type.value === dictationType.Sentence">
                      Example:<br/>apple<br/>bus-stop<br/>cat
                    </div>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-label [class.deselected]="type.value === dictationType.Word">
                        <fa-icon [icon]="['fas', 'align-left']"></fa-icon>
                        {{'Sentence'|translate}}</ion-label>
                      <ion-radio value="sentence"></ion-radio>
                    </ion-item>
                    <div class="type-example" [class.deselected]="type.value === dictationType.Word">
                      Example:<br/> I walk to school. I do not ride a bike. I do not ride the bus.
                    </div>
                  </ion-col>
                </ion-row>
              </ion-radio-group>
              <ion-item style="font-size: small;">{{ 'Options' | translate }}:</ion-item>
              <div class="word-options" *ngIf="type.value === dictationType.Word  && mode === pageMode.Start">
                <ion-radio-group [formControl]="wordPracticeType">
                  <ion-row class="radio">
                    <ion-col>
                      <ion-item>
                        <ion-label [class.deselected]="wordPracticeType.value === practiceType.Spell">
                          {{'Spelling'|translate}}</ion-label>
                        <ion-radio value="Spell"></ion-radio>
                      </ion-item>
                      <div class="word-practice-type-example" [class.deselected]="wordPracticeType.value !== practiceType.Spell" style="padding-top: 6px;">
                        <fa-icon icon="apple-alt"></fa-icon>&nbsp;<span class="spell">apple</span>
                      </div>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label [class.deselected]="wordPracticeType.value === practiceType.Puzzle">
                          {{'Puzzle'|translate}}</ion-label>
                        <ion-radio value="Puzzle"></ion-radio>
                      </ion-item>
                      <div class="word-practice-type-example puzzle" [class.deselected]="wordPracticeType.value !== practiceType.Puzzle">
                        <fa-icon icon="apple-alt"></fa-icon>
                        <span class="puzzle">p</span><span>e</span><span>l</span><span>a</span>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
                <ion-item >
                  <ion-label>
                    <fa-icon [icon]="['far', 'images']"></fa-icon> {{'Show Image'|translate}}</ion-label>
                  <ion-toggle style="padding-right: 30px;" formControlName="showImage"></ion-toggle>
                </ion-item>
                <ion-item *ngIf="type.value === dictationType.Word">
                  <ion-label>
                    <fa-icon [icon]="['fas', 'window-minimize']"></fa-icon> {{'Words Contain Space'|translate}}</ion-label>
                  <ion-toggle style="padding-right: 30px;" formControlName="wordContainSpace"></ion-toggle>
                </ion-item>
              </div>

              <ion-item *ngIf="type.value === dictationType.Sentence">
                <ion-label>
                  <fa-icon [icon]="['fas', 'ruler']"></fa-icon> {{'Each Sentence Length'|translate}}
                </ion-label>
                <ion-select style="padding-right: 30px;" formControlName="sentenceLength" interface="popover">
                  <ion-select-option *ngFor="let state of sentenceLengthOptions"
                                     [value]="state">{{'SentenceLength.' + state|translate}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col id="ion-col-textarea" size="12" size-sm="12" size-md="12" size-lg="6">
<!--              <ion-item>-->
<!--                <ion-label position="floating">{{'Vocabulary'|translate}} * ({{'separate by space, comma or 1 word per line'|translate}})-->
<!--                </ion-label>-->
<!--                <ion-textarea formControlName="vocabulary" rows="10"></ion-textarea>-->
<!--              </ion-item>-->
              <ion-item>
                <ion-label position="floating" *ngIf="type.value == dictationType.Word">
                  {{'Vocabulary'|translate}} * ({{'separate by space, comma or 1 word per line'|translate}})
                </ion-label>
                <ion-label position="floating" *ngIf="type.value == dictationType.Sentence">
                  {{'Input an passage'|translate}} *:
                </ion-label>
<!--                <ion-textarea formControlName="article" rows="10"></ion-textarea>-->
                <ion-textarea formControlName="question" rows="10"></ion-textarea>
              </ion-item>
<!--              <div *ngIf="vocabulary.invalid && (vocabulary.dirty || vocabulary.touched)" class="error-text">-->
<!--                <div *ngIf="vocabulary.errors.maxVocabulary">{{'Cannot over 50 vocabulary'|translate}}</div>-->
<!--                <div *ngIf="vocabulary.errors.pattern">{{'Cannot contain invalid character(s)'|translate}}</div>-->
<!--              </div>-->
              <div *ngIf="question.invalid && (question.dirty || question.touched)" class="error-text">
                <div *ngIf="question.errors?.required">{{'Cannot find any word or sentence'|translate}}</div>
              </div>
              <div *ngIf="inputForm.invalid && (question.touched || question.dirty)" class="error-text">
                <div *ngIf="inputForm.errors?.maxVocabulary">{{'Cannot over 50 vocabulary'|translate}}</div>
                <div *ngIf="inputForm.errors?.invalidVocabularyPattern">{{'Cannot contain invalid character(s)'|translate}}</div>
              </div>

              <ion-button fill="clear" (click)="closePreview()" *ngIf="isPreview">
                &nbsp;{{'Preview'|translate}}
              </ion-button>

              <ion-list *ngIf="isPreview" style="padding-top: 0px; padding-bottom: 0px;">
                <ion-item *ngFor="let question of questions; let i = index">
                  <ion-label>{{i+1}}. {{question}}</ion-label>
                </ion-item>
              </ion-list>

              <ion-button style="margin: 16px;" fill="outline" (click)="preview()" *ngIf="!isPreview">
                <fa-icon icon="eye"></fa-icon>&nbsp;{{'Preview'|translate}}
              </ion-button>
              <ion-button style="margin: 16px;" fill="outline" (click)="closePreview()" *ngIf="isPreview" color="medium">
                <fa-icon icon="eye-slash"></fa-icon>&nbsp;{{'Preview'|translate}}
              </ion-button>
              <ion-button class="ion-float-right" style="margin: 16px;"
                          *ngIf="mode === pageMode.Edit"
                          (click)="saveDictation()" [disabled]="!inputForm.valid">
                <fa-icon icon="save"></fa-icon>&nbsp;{{'Save'|translate}}
              </ion-button>
              <ion-button class="ion-float-right" style="margin: 16px;"
                          *ngIf="mode === pageMode.Start"
                          (click)="startDictationNow()" [disabled]="!inputForm.valid">
                <fa-icon [icon]="['fas', 'play']"></fa-icon>&nbsp;{{'Start'|translate}}
              </ion-button>
            </ion-col>
          </ion-row>

        </form>
      </ion-card-content>
    </ion-card>

  </div>

  <app-footer></app-footer>
</ion-content>
