.error-text div {
  padding-left: 16px;
}

.input-form {
  ::placeholder {
    color: #BBBBBB;
  }

  ion-label {
    min-width: 95px;
  }
}

.questionsInput {
  ion-textarea {
    font-size: 0.7rem;
  }
}

fa-icon {
  padding-right: 8px;
}

.type-example {
  padding-left: 42px;
  font-size: 0.8rem;
  color: #666666;
}

.selected {
  color: #000000;
}
