.error-text div {
  padding-left: 16px;
}

.input-form {
  ::placeholder {
    color: #BBBBBB;
  }

  ion-label {
    min-width: 95px;
  }
}

.questionsInput {
  ion-textarea {
    font-size: 0.7rem;
  }
}

fa-icon {
  padding-right: 8px;
}

.type-example {
  padding-left: 42px;
  font-size: 0.8rem;
  color: #555555;
}

.puzzle span {
  display: inline-block;
  border: 1px solid;
  width: 24px;
  margin: 4px;
  text-align: center;
}

.word-practice-type-example {
  height: 24px;
  padding-left: 20px;
  font-size: 0.9rem;
  color: #555555;
}

.word-practice-type-example .spell {
  text-decoration: underline;
}

.deselected {
  color: #ccc;
}

