<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Dictation Practice' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div style="padding: 16px;">
    <ion-card class="card">
      <ion-card-header style="font-size: 1.8rem;">{{ 'Completed dictation' | translate }}</ion-card-header>
      <ion-row no-padding>
        <ion-col>
          <button ion-button (click)="getDictationThenOpen()" style="margin: 5px;"><fa-icon [icon]="['fas', 'redo']"></fa-icon>&nbsp;{{'Retry'|translate}}</button>
        </ion-col>
        <ion-col text-right>
          <button *ngIf="dictation.id > 0" ion-button item-end color="secondary" (click)="recommend()" style="margin: 5px;" [disabled]="recommended">
            <fa-icon [icon]="['far', 'thumbs-up']"></fa-icon>&nbsp;{{ recommendBtnText() }}
          </button>
          <button *ngIf="dictation.id <= 0" ion-button item-end color="secondary" (click)="navService.editDictation(dictation)" style="margin: 5px;"><fa-icon [icon]="['fas', 'save']"></fa-icon>&nbsp;{{'Save'|translate}}</button>
        </ion-col>
      </ion-row>
    </ion-card>
    <dictation-card #dictationCard [dictation]="dictation" [showContent]="false"></dictation-card>
    <ion-card class="card" style="margin-top: 8px;">
      <h3><fa-icon [icon]="['fas', 'check']"></fa-icon> {{totalCorrect}} ({{totalCorrect / (totalCorrect + totalWrong) * 100 | number:'1.0-0'}}%)
        / <span class="red"><fa-icon [icon]="['fas', 'times']"></fa-icon> {{totalWrong}} ({{totalWrong / (totalCorrect + totalWrong) * 100 | number:'1.0-0'}}%)</span></h3>
      <sentence-histories [histories]="histories"></sentence-histories>
    </ion-card>

  </div>
  <footer></footer>
</ion-content>
