<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!showBackButton"></ion-menu-button>
      <ion-button *ngIf="showBackButton" fill="clear" (click)="navigationService.goBack()"><fa-icon icon="angle-left" size="2x"></fa-icon></ion-button>
    </ion-buttons>
    <ion-title>{{'Dictation' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    <dictation-card [dictation]="dictation" start="true" [edit]="authService.isAuthenticated() && dictation?.creator.emailAddress === authService.userProfile?.email"></dictation-card>
  </div>
  <app-footer></app-footer>
</ion-content>
