<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      @if (!showBackButton) {
        <ion-menu-button></ion-menu-button>
      }
      @if (showBackButton) {
        <ion-button fill="clear" (click)="navigationService.goBack()"><fa-icon icon="angle-left" size="2x"></fa-icon></ion-button>
      }
    </ion-buttons>
    <ion-title>{{'Dictation' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inner-content">
    <app-dictation-card [dictation]="dictation" [showPracticeOptions]="true" [edit]="authService.isAuthenticated() && dictation?.creator.emailAddress === authService.userProfile?.email"></app-dictation-card>
  </div>
  <app-footer></app-footer>
</ion-content>
