.header {
  background-color: #4CAF50;
  color: white;
  margin: 0px;
  width: 100%;

  ion-card-header {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 8px;
    background-color: #488aff;
  }

  ion-card-content {
    font-size: 1.7rem;
    text-align: center;
    padding: 8px;
    background-color: #4CAF50;
  }
}

.card-button {
  margin: 0px;
  height: 100%;

  ion-card-content {
    background-color: #488aff;
    font-size: 1.4rem;
    color: white;
    height: 100%;
  }

}

.appImage {
  height: 50px; padding: 4px;
}

.ffsButton {
  margin-top: 16px;
  max-font-size: 0.8rem;
}
