<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="assets/img/logo_new.png" class="navbar-logo" alt="logo"></ion-img>
    </ion-title>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 16px;">
    <ion-card class="main-card">
      <ion-card-header>
        <ion-card-title><fa-icon [icon]="['fas', 'leaf']"></fa-icon> FunFunSpell</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="6" size-md="3" size-lg="3">
              <ion-card class="main-image-card">
                  <img src="assets/img/teacher_speaking.png" alt="teacher spearking" />
              </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-md="5" size-lg="5">
              <h2>{{ 'Online Dictation' | translate }}</h2>
              <p>{{ 'Home_Online_Dictation_description' | translate }}</p>
            </ion-col>
            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">
              <ion-list>
                <ion-item (click)="navigationService.editDictation(null, 'Start')">
                  <ion-label><fa-icon [icon]="['fas', 'rocket']"></fa-icon> {{ 'Quick Start' | translate }}</ion-label>
                  <fa-icon slot="end"  [icon]="['fas', 'angle-right']"></fa-icon>
                </ion-item>
                <ion-item (click)="navigationService.openSearchDictation()">
                  <ion-label><fa-icon [icon]="['fas', 'search']"></fa-icon> {{ 'Search' | translate }}</ion-label>
                  <fa-icon slot="end" [icon]="['fas', 'angle-right']"></fa-icon>
                </ion-item>
                <ion-item (click)="navigationService.editDictation()">
                  <ion-label><fa-icon [icon]="['fas', 'plus']"></fa-icon> {{ 'Create' | translate }}</ion-label>
                  <fa-icon  slot="end"[icon]="['fas', 'angle-right']"></fa-icon>
                </ion-item>
                <ion-item *ngIf="authService.isAuthenticated()" (click)="navigationService.openMemberHome('dictation')">
                  <ion-label><fa-icon icon="list"></fa-icon> {{ 'My Records' | translate }}</ion-label>
                  <fa-icon slot="end" [icon]="['fas', 'angle-right']"></fa-icon>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="6" size-md="3" size-lg="3">
              <ion-card class="main-image-card">
                <img src="assets/img/vocabulary_card.png" alt="vocabulary card" />
              </ion-card>
            </ion-col>
            <ion-col size="12" size-sm="6" size-md="5" size-lg="5">
              <h2>{{'English Vocabulary' | translate }}</h2>
              <p>{{ 'Home_English_Vocabulary_description' | translate }}</p>
            </ion-col>
            <ion-col size="12" size-sm="12" size-md="4" size-lg="4">
              <ion-list>
                <ion-item (click)="navigationService.openVocabularyStarter()">
                  <ion-label><fa-icon [icon]="['fas', 'spell-check']"></fa-icon> {{ 'Learn' | translate }}</ion-label>
                  <fa-icon slot="end"  [icon]="['fas', 'angle-right']"></fa-icon>
                </ion-item>
                <ion-item *ngIf="authService.isAuthenticated()" (click)="navigationService.openMemberHome('vocabulary')">
                  <ion-label><fa-icon [icon]="['fas', 'list']"></fa-icon> {{ 'My Vocabulary' | translate }}</ion-label>
                  <fa-icon slot="end"  [icon]="['fas', 'angle-right']"></fa-icon>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>

    <member-score-ranking [ranking]="memberScoreRanking"></member-score-ranking>

    <dictation-statistics [stat]="dictationStat"></dictation-statistics>
  </div>

  <app-footer></app-footer>
</ion-content>
