page-article-dictation {
  .stopBtn {
    background-color: #e91e63;
    height: 3rem;
  }

  .speakBtn {
    height: 3rem;
    background-color: #69BB7B;
  }

  .rateBtn {
    height: 3rem;
  }

  .answerInput {
    font-size: 1.4rem;
  }
}
