textarea.text-input {
  margin: 0px;
}

.vocabInput {
  padding-left: 0px;

  .text-input {
    margin: 0px;
  }

  border: 0px;
}

.articleInput {
  .textarea {
    font-size: 1.1rem;
    border: 1px solid darkgrey;
  }

}

h3 {
  padding: 8px 8px 0px 8px;
}

h4 {
  font-size: 1.2rem !important;
  color: #aaaaaa !important;
  padding: 0px 8px 0px 8px;
}

.segment {
  padding: 4px;
}

